.baslik {
    text-align: center;
}


.search{
  background-color: rgb(216, 214, 214);  
  text-align: center;
  padding: 20px;
  
  

}

.footer{
 float:left;
  width: 373px  ;
  height: 75px ;
  text-align: center;
  background-color: aqua;
  padding: 50px;

}

#footer1{
  background-color:rgb(84, 228, 228) ;
  margin: 1px;
}


#footer2 {
  margin: 1px;
  background-color: rgb(90, 196, 196);
}

#footer3{
  background-color: cadetblue;
}

button {
  width: 150px  ;
}